.contact-form {
    display: block;
    width: 100%;
    text-align: center;
}

.contact-form__heading {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    margin: 0 auto;
    width: 70%;
    max-width: 900px;
    min-width: 600px;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    width: 30%;
    border-bottom: 1px solid #E0DFDE;
    background-color: #BAA899;
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.confirm-table__text {
    padding: 15px 30px;
    border-bottom: 1px solid #E0DFDE;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    color: #8B7969;
}

.confirm-table__text textarea {
    width: 100%;
    outline: none;
    border: none;
    text-decoration: none;
    resize: none;
    color: #8B7969;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
}

.form__button-submit {
    width: 120px;
    height: 42px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    font-family: "Inika", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    cursor: pointer;
}

.form__button-fix {
    margin-left: 50px;
    display: block;
    text-align: center;
    text-decoration: underline;
    border: none;
    background: none;
    font-size: 20px;
    color: #8B7969;
}